
body{

  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;

}

.text-primary{
    color:#FD6E0A ;
    
}
.btn-primary{
    border-radius: 5px;
    border: 0px;
    background-color:#FD6E0A ;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 15px 35px;
    
}
/*  nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    /* Mary */
font-weight: 800;
font-size: 45px;
/* Dark 01 */
color: #181818;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 51px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related design */

.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner.profile-image{

position: absolute;
width: 500px;
}
